@charset "utf-8";
/* CSS Document */
html{font-size:62.5%;/** 与320的基准比是22.5 **/}
body{-webkit-tap-highlight-color:transparent;font-family:"微软雅黑", "黑体";position:relative;font-size:1.1em;color:#737373;background:#f0f1f1;}
body{margin:0 auto;min-width:320px;max-width:720px;}
*{padding:0;margin:0;}
img,input,table,tr,td{border:none;}
section,article,header,footer,nav{display:block;}
input:focus{outline:none;}
a{outline:none;text-decoration:none;}
/*a:visited{color:#333;}*/
ul,ol,li{list-style:none;}
img{vertical-align:bottom;}
.clear{clear:both;height:0;overflow:hidden;}
table{border-spacing:0;}
table,tr,td{border:none;}
.tC{text-align:center;}
.hide{display:none!important;}
.animate2{-webkit-transition:all 200ms;-moz-transition:all 200ms;-ms-transition:all 200ms;-o-transition:all 200ms;transition:all 200ms;}
.animate3{-webkit-transition:all 300ms;-moz-transition:all 300ms;-ms-transition:all 300ms;-o-transition:all 300ms;transition:all 300ms;}

#header{position:relative;overflow:hidden;height:3.64rem;background:#68b100;}
#headerLeft, #headerRight, #headerCenter{position:relative;height:100%;z-index:1;}
#headerCenter{position:absolute;top:0;left:0;width:100%;text-align:center;z-index:0;}
#headerLeft{float:left;}
#headerRight{float:right;}

.navHome, .navBtn{-o-transition:all 200ms;-ms-transition:all 200ms;-moz-transition:all 200ms;-webkit-transition:all 200ms;transition:all 200ms;}
.navHome, .navBtn{display:inline-block;height:3.64rem;line-height:3.64rem;}
.navHome{padding-left:1rem;font-size:1.8rem;font-family:"微软雅黑", "黑体";color:#fff;text-decoration:none;}
.navBtn{display:inline-block;width:3.64rem;text-indent:-9999px;background:url(img_d/nav.png?__sprite) no-repeat 0 0;background-size:3.64rem auto;}
.navBtn:active{background-color:#5ea000;}
.navReturn{background-position:0 -10.92rem;}
.navMake{background-position:0 0;}
.navUser{background-position:0 -3.64rem;}
.navRefresh{background-position:0 -7.28rem;}
.navTitle{width:auto;font-size:1.6rem;text-indent:0;background:none;color:#fff;}


#footer{position:relative;bottom:0;width:100%;}
#footer .fWrp{position:relative;padding:0.6rem 1rem;background:#68b100;color:#fff;display:-moz-box;display:-webkit-box;display:box;}
#footer .linkwp{text-align:right;white-space:nowrap;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
#footer .link{margin-left:1rem;color:#ffff66;text-decoration:underline;}
#footer .link:first-child{margin:0;}
